.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  background-color: silver;
}

h1 {
  text-align: center;
  font-size: 300%;
}

#bmr {
  width: 100%;
  text-align: center;
}

#bmrForm {
  border: 1px solid black;
  border-style: outset;
  text-align: center;
  width: 30%;
  padding: 10px;
  margin: auto;
}

#calories {
  border-collapse: collapse;
  width: 75%;
  overflow-x: auto;
  margin: auto;
}

#calories td {
  text-align: center;
}

#calories td, #calories th {
  border: 1px solid #ddd;
  border-style: outset;
  padding: 8px;
}

#calories tr:nth-child(even) {
  background-color: #f2f2f2;
}

#calories tr:hover {
  background-color: #ddd;
}

#calories th {
  color: white;
  background-color: black;
  font-size: large;
}

#radioContainer {
  text-align: center;
  margin: auto;
  padding-bottom: 20px;
}

label {
  font-weight: bold;
}
